html {
	margin-right: 5%;
	margin-left: 5%;
	background-color: #fff;
}
ul li {
	list-style-type: none;
	border: 3px solid black;
	padding: 10px;
	padding-left: 35px;
	width: 7%;
	margin: 1%;
	align-items: center;
	border-radius: 25%;
	font-size: large;
	font-weight: bolder;
	display: inline-block;
}
li:nth-child(1) {
	background-color: #f9ed69;
}

li:nth-child(2) {
	background-color: #f07b3f;
}

li:nth-child(3) {
	background-color: #03f5e1;
}
li:nth-child(4) {
	background-color: #17b978;
}
li:nth-child(5) {
	background-color: #f10751;
}
li:nth-child(6) {
	background-color: #0075f6;
}
li:nth-child(7) {
	background-color: #e4f169;
}
li:nth-child(8) {
	background-color: #a2ef44;
}
li:nth-child(9) {
	background-color: #dbc1ac;
}
li:nth-child(10) {
	background-color: #86066b;
}

#text {
	
	margin-bottom: 1%;
}
input{
	

		width: 101%;
		text-align: center;
		top: -5px;
		left: -1%;
		font-size:230% !important;
		font-family: consolas !important;
		color: coral !important;
		position: fixed;
		text-decoration:none;
		height: 130px;
		z-index: 10;
		background-color:rgb(40,40,40) !important;
		box-shadow:  0 0  10px black;
		border: none;
		
		
		
		  
}

input[type=text]:focus {
	border-color: dodgerBlue;
	box-shadow: 0 0 12px 0 dodgerBlue;
}
.content {
	margin: 3%;
}
h1 {
	margin-bottom: 5%;
	font-family: 'Anton', sans-serif;
	font-weight: 900;
}
.line {
	position: relative;
	top: 50%;
	width: 14em;
	margin-top: 1%;
	border-right: 2px solid rgba(255, 255, 255, 0.75);
	font-size: 4em;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	transform: translateY(-50%);
}

#queue {
	font-size: xx-large;
	font-weight: bold;
	font-family: 'Concert One', cursive;
}
#dequeue_queue{
	margin-top: 20px;
	font-size: xx-large;
    font-weight: bold;
    font-family: 'Concert One', cursive;
}

label {
	font-size: xx-large;
	font-family: 'Concert One', cursive;
}
#dequeue,
#enqueue {
	font-weight: 900;
	font-size: larger;
	letter-spacing: 2px;
	padding: 4px;
	transition: 0.8s;
	position: relative;
	width: 10%;
	overflow: hidden;
}
#enqueue {
	margin-right: 3.5%;
}

#enqueue {
	background: rgb(5, 245, 5);
	width: 11%;
}
#dequeue{
	background-color: rgb(255, 0, 0);
	width: 17%;
}
@media screen and (min-width: 480px) {
	h2 {
		font-size: small;
	}
	li {
		width: 100px;
		padding-left: 20px;
	}
	#enqueue {
		width: 100px;
	}
}
@media screen and (min-width: 768px) {
	li {
		width: auto;
	}
}

